input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border:none !important;
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--neutral-color) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.form-input {
    margin-bottom: 1rem;
    height: 3rem;
    border-radius: 0.5rem;
    padding-left: 0.7rem;
    color: var(--main-text-color);
    border: none;
    box-shadow: var(--box-shadow);
    font-family: Poppins, sans-serif;
    font-size: 1rem;
}

.form-input[type=text] {
    min-width: 6rem;
}

.form-input::placeholder {
    font-family: Poppins, sans-serif;
}

.form-input:active,
.form-input:focus {
    outline: solid var(--main-accent-color);
}

.form-input[type=submit] {
    background-color: var(--main-accent-color);
    color: var(--white-color);
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.09rem;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding: 0;
}

.form-input[type=submit]:hover,
.form-input[type=button]:hover {
    cursor: pointer;
}

.form-input[type=text]:last-of-type {
    margin-bottom: 0;
}

.form-input[type=button] {
    height:auto;
    margin-bottom: 0;
    background-color: var(--main-accent-color);
    color: var(--white-color);
    font-weight: 500;
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    text-align: center;
    min-width: max-content;
}

@media (max-width: 576px) {
    .form-input[type=button] {
        font-size: 0.9rem;
        padding: 0.8rem 1rem;
    }

    .form-input {
        max-width: 15rem;
    }
}